<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;" class="col-md-12 user-container">
  <form #fm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="id">id</label>
      <input [(ngModel)]="employee.id" placeholder="id"  #id="ngModel" name="id" class="form-control" id="id" required>
      <div *ngIf="id.invalid && (id.touched)">
      <div *ngIf="id.errors?.required" [ngStyle]="{'color': 'red'}">id is required
      </div>
        </div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="employee.firstName" placeholder="firstName"  #firstName="ngModel" name="firstName" class="form-control" id="firstName" pattern="[a-zA-Z]+" required>
      <div *ngIf="firstName.invalid && ( firstName.touched)">
      <div *ngIf="firstName.errors?.required" [ngStyle]="{'color': 'red'}">first Name is required
      </div>
        </div>
      <div *ngIf="firstName.invalid && ( firstName.touched)">
    <div *ngIf="firstName.errors?.pattern" [ngStyle]="{'color': 'red'}">Special characters not allowed
    </div>
    </div>
    </div>



    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input [(ngModel)]="employee.lastName" placeholder="last Name"  #lastName="ngModel" name="lastName" class="form-control" id="lastName" pattern="[a-zA-Z]+" required>
      <div *ngIf="lastName.invalid && ( lastName.touched)">
      <div *ngIf="lastName.errors?.required" [ngStyle]="{'color': 'red'}">last Name is required
      </div>
        </div>
      <div *ngIf="lastName.invalid && (lastName.touched)">
    <div *ngIf="lastName.errors?.pattern" [ngStyle]="{'color': 'red'}">Special characters not allowed
    </div>
    </div>
    </div>


    <div class="form-group">
      <label for="emailId">email</label>
      <input [(ngModel)]="employee.emailId" placeholder="emailId"  #emailId="ngModel" name="emailId" class="form-control" id="emailId" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      <div *ngIf="emailId.invalid && (emailId.touched)">
      <div *ngIf="emailId.errors?.required" [ngStyle]="{'color': 'red'}">email is required
      </div>
        </div>
      <div *ngIf="emailId.invalid && (emailId.touched)">
    <div *ngIf="emailId.errors?.pattern" [ngStyle]="{'color': 'red'}">Please provide a valid email address
    </div>
    </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="fm.invalid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
